<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>selectCollectionPageServlet</servlet-name>
        <servlet-class>selectCollectionPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectCollectionPageServlet</servlet-name>
        <url-pattern>/collection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>displayCardServlet</servlet-name>
        <servlet-class>displayCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayCardServlet</servlet-name>
        <url-pattern>/card</url-pattern>
    </servlet-mapping>


<!--download XML-->
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
<!--upload XML-->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>


<!--add card-->
    <servlet>
        <servlet-name>addCard</servlet-name>
        <servlet-class>addServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCard</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>404</error-code>
        <location>/error404page.jsp</location>
    </error-page>


</web-app>
